@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* Variables */
html,
body,
#root {
  height: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Reset */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Typography */
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

/* Header */
.header {
  background-color: #f1f1f1;
  color: #333;
  text-align: center;
  padding: 20px 0;
}

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header--transparent {
  background-color: rgba(241, 241, 241, 0.9);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__brand h1 {
  font-size: 20px;
}

.header__brand h1 a {
  color: #333;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav_lang {
  position: relative;
}

.header__nav_lang .selected {
  width: 50px;
  background-color: #ff5964;
  color: #fff;
  padding: 5px;
  font-weight: 700;
  font-size: 12px;
  border-radius: 2px;
  cursor: pointer;
}

.header__nav_lang .dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header__nav_lang .dropdown li {
  text-align: center;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
}

.header__nav_lang .dropdown li:hover {
  color: #ff5964;
}

.header__nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav_menu li {
  margin-left: 20px;
}

.header__nav_menu li a {
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
}

.header__nav_menu li a:hover, .header__nav_menu li a.active {
  color: #ff5964;
}

/* Intro */
.intro {
  height: 100%;
  background-image: url("assets/agency_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.intro__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.intro__body {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: inherit;
  color: #fff;
  padding: 70px 0;
}

.intro__body h1 {
  margin-bottom: 30px;
}

.intro__body p {
  max-width: 600px;
  text-align: center;
  font-size: 24px;
}

/* About */
.about {
  padding: 50px 0;
  text-align: center;
}

.about h1 {
  margin-bottom: 40px;
}

.about img {
  max-width: 100%;
  margin-bottom: 20px;
}

.about p {
  max-width: 800px;
  margin: 0 auto;
}

/* Page 404 */
.page-404 {
  height: 100%;
}

.page-404 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
}

.page-404 p a {
  color: #ff5964;
}
/*# sourceMappingURL=App.css.map */